* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	height: 26px;
}

#chat-messages {
	overflow-y: auto;
	padding-left: 3px;
	padding-top: 3px;
}

#chat-bottom {
	position: absolute;
	bottom: 0px;
	height: 35px;
	background: #CCC;
	padding: 6px;
	font-size: 12px;
}

#chat-name {
	font-size: 10px;
}

#chat-bottom input {
	font-size: 10px;
	height: 18px;
}

.chat-message {
	margin-bottom: 5px;
	font-size: 10px;
	line-height: 1em;
}

.chat-message-author {
	font-weight: bold;
}

.chat-message-time {
	font-size: smaller;
	color: #ccc;
}

.chat-message-status {
	font-style: italic;
	font-weight: bold;
}